.about-conteiner{
    text-align: left;
    border: 1px solid #86d9fb;
    margin: 2em;
    padding: 1em;
}

.about-title{
color: #EF8038
}

.dark .about-conteiner{
    color: #ffffff;
}

.about-conteiner{
    border: 1px solid  #EF8038;
}