.member-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9; 
}

.member-form label {
  display: flex;
  margin-bottom: 5px;
  color: #333;
  font-family: 'Poppins';

}

.member-form input[type="text"],
.member-form input[type="email"],
.member-form input[type="number"] {
  width: 21em; 
  height: 30px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #f89451;
  border-radius: 10px;
  box-sizing: border-box;
}

.member-form input[type="color"] {
  width: 21em; 
  height: 22px; 
  padding: 0; 
  margin-bottom: 10px;
  border: 1px solid #f89451;
  border-radius: 4px;
  box-sizing: border-box;
}

.member-form button {
  width: 10em;
  padding: 6px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins';
  margin-top: 20px;
}

.member-form button:hover {
  background-color: #316b34;
}
