.main-header {
  margin-top: 4em;
  margin-left: 1em;
  margin-right: 1em;
  font-style: italic;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  font-weight: 800;
}

.main-subheader {
  margin: 1em;
  font-weight: 200;
  font-family:'Poppins';
}

.main-section{
  display: flex;
}

.main-image-container{
  margin: 5em;
}

#teamCodeInput {
  margin: 1em;
  border-radius: 15px;
  border: 2px solid #EF8038;
  text-align: center;
  height: 2em;
  width: 10em;
  outline: none;
}

#teamCodeInput::placeholder {
  text-align: center;
  color: gray;
}

#teamCodeInput:focus::placeholder {
  color: transparent; 
}

.submitTeam-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2em;
  align-items: center;
  font-family: 'Poppins';
}

.submitTeam-container label {
  font-size: 20px;
  color: #000000;
  font-weight: 800;
}

.dark .submitTeam-container label {
  color: #ffffff;
}

.button-submit {
  height: 2em;
  width: 10em;
  background-color: #EF8038;
  color: white;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.testimonials-container{
    margin: 3em 0em;
}

.home-container {
  background: #ffffff;
  transition: 0.5s;
}

.testim-header {
  margin: 1em;
  font-style: italic;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  font-weight: 800;
}

.home-container.dark {
  background: #000000;
}

.dark .main-header, .dark .testim-header {
  color: #ffffff;
}

.dark .main-subheader {
  color: #ffffff;
}

.dark .submitTeam-container {
  color: #ffffff;
}