.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b5e6f9;
  padding-left: 8em;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.titleContainer h1, h3 {
  font-family: 'Poppins';
  padding: 6px;
  margin: 0px;
}

.titleContainer h1{
  font-size: 1.6em;
}

.titleContainer span{
  color:  #150da5;
  font-style: italic;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
}
.titleContainer h3{
  font-size: 1em;
}

.titleContainer .logo{
  height: 4em;
  padding: 10px 0;
  padding-right: 4em;
}
