.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.logo{
    height: 2em;
}

.navbar-text{
    margin: 1em;
}

.button-create-team{
    height: 2em;
    width: 10em;
    background-color: #EF8038;
    color: white;
    border-radius: 15px;
    border: none;
    text-decoration: none;
    font-weight: 600;
}

.toggle-icon {
    width: 50px;
    cursor: pointer;
    padding-right: 2em;
}

/* For dark Mode */
.dark .navbar{
    background: #000;
    color: #fff;
}

.dark ul li a {
    color: #fff;
}

.dark .navbar {
    border: 1px solid #EF8038;
  }