.container-section {
  background-color:  #ffb98a;
}
.container-heading .logo{
  /* padding-left: 4em; */
  height: 4em;
  padding: 10px 0;
  padding-right: 4em;
}


.container-section {
  display: flex;
}

/* For left side section  */
.left-section {
  flex: 1.8;
  margin-right: 20px;
}


.container-section .TeamMember, .MyCalendar {
  border-radius: 15px; 
  background-color: rgb(255, 255, 255); 
  padding: 20px; 
  margin: 2em;
}

.container-section .TeamMember:hover, .container-section .MyCalendar:hover  {
  transform: translateY(-10px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0);
  transition: 0.3s;
}


/* For right side  section  */
.right-section {
  flex: 1.3;
  margin-left: 20px;
}


.container-section .CreateMember, .DayOff {
  border-radius: 15px; 
  background-color: rgb(255, 255, 255); 
  padding: 20px; 
  margin: 2em;
}


.container-section .CreateMember:hover, .container-section .DayOff:hover  {
  transform: translateY(-10px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0);
  transition: 0.3s;
}


