.carousel-root {
  display: flex;
  width: 30em;
  margin: auto;
  margin-top: 3%;
}

.carousel .slide {
  background: #fff;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px;
  border-radius: 50%;
}

.myCarousel {
  background: #bbe8ff86;
  margin-top: -6%;
  width: 23em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #86d9fb;
  height: 25em;
}

.carousel .control-dots {
  padding-left: 5px;
  outline: 0;
  bottom: 5%;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100;
  line-height: 29px;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none;
  background: #86d9fb; 
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #86d9fb;
  height: 50px;
  position: absolute;
  top: 35%;
  border-radius: 20px;
}

.carousel.carousel-slider .control-arrow:hover {
  background: #37c4fb; 
  cursor: pointer;
}

.App {
  text-align: center;
}
